
/***** Global *********/

body
{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	color: #737373;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.2px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    margin:0px;
    padding: 0px;
}

/*img
{
	display: block;
	width: 100%;
	height: auto;
}
*/
h1,h2,h3,h4,h5,h6
{
	margin:0px;
	padding:0px;
}

p
{
	margin: 0px;
	padding: 0px;

}
p
{
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 0.2px;
}

h1
{

    padding-bottom: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2;
    text-align: center;
}

h2
{
	font-family:'Poppins', sans-serif;
	font-weight: 600;
	font-size: 44px;
	line-height: 36px;
	letter-spacing: 0.1px;
}

h3
{
	
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.1px;
}
a
{
	text-decoration: none;
}
a
{

	background: #FA4A0C;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	padding: 16px 58.5px;
	font-size: 24px ;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.1px;
	border: 1px solid #FA4A0C;


}

a:hover
{
	background-color: transparent;
	color: #FA4A0C;

}

ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}

li
{
	margin-bottom: 0px;
    background: #fff;
    color: #333;
}

div
{
	display: block;
}



/****** Header *****/

.header-wrapper
{
	 max-width: 1270px;
	 margin-left: auto;
	 margin-right: auto;
	
    
}

.main-header 
{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	justify-content: space-between;
	padding-top:22px;
	padding-bottom: 20px;
	 padding-right: 80px;
	 padding-left: 90px;
	 
}

.main-header 
{
	column-gap: 500px;
}
.main-header .icon
{
	display: none;
}

.nav-menu
{
	/*padding: 15px 0px 0px 0px;*/
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	
}

.nav-menu ul
{
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	column-gap: 50px;
	text-align: right;

}




.nav-menu a
{
	background-color:#fff;
	border: none !important;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	line-height: 28px;
	letter-spacing: 0.2px;
	font-weight: 800;


}
.nav-menu a:hover
{
	color: #FA4A0C;

}

.site-logo img
{
	max-width: 206px;
	


}




/******* Hero Section *****/

.content-wrap 
{
	max-width: 1034px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.bg-img
{
	background: #333 url("Images/hero-img.png");
	background-repeat: no-repeat;
	background-size: cover;

	
}
	

#hero-section .content-wrap
{
	padding: 72px 0px 146px 0px;
	
	
}
.content-desc 
{
	display: block;
}

#hero-section h1
{
	padding-top: 17px;
	padding-bottom: 0px;

}

#hero-section h3
{
	color: #fff;
	text-align: center;
	padding-bottom: 0px;
}

#hero-section p
{
	color: #fff;
	text-align: center;
	padding-top: 27px;
	padding-bottom: 0px;
}
.button-desc 
{

	text-align: center;
	display: block;
	position: relative;
	z-index: 20;
	padding-top: 54px;
	
}

.button-desc a
{
	margin-left: 34px;
	margin-right: 34px;
}

.button-desc .btn-a
{
	
	transition: all 300ms ease;
}

.button-desc .btn-b
{
	background-color: transparent;
	border: 1px solid #fff;
	transition: all 300ms ease;

}

.button-desc .btn-b:hover
{
	border-color: #FA4A0C;
	transition: all 300ms ease;
}


/******** Section 1 ******/

#section-a .content-wrap

{
	padding-bottom: 0px;

}

.sec-img
{
    display: block;
    position: relative;
    top: -280px;
                
}
            
.sec-img
 {
    text-align:center;
}

.section-img img
{
	width: 100%;
}

.sec-border
{
	width: 100%;
	border: 2px solid #E4E4E4;
	margin-top: -86px;
	
}

/******* Section 2 *********/


#section-b
{
	margin-top:-280px !important
}

.section-title h2
{
	color: #000000 !important;
	text-align: center;
}


.section-title
{
	padding-top: 50px;
}

#section-b .crt-acc-inner
{
	padding: 59px 0px 53px 0px !important;
}

.crt-acc-inner
{
	display: flex;
	flex-direction: row;
	align-items: center;
	

}

.crt-acc-img
{
	padding-top: 78px 0px 203px 0px;

}

.crt-acc-desc
{	
	padding: 0px;
	margin: 0px;


}

#section-b .crt-acc-desc
{
	padding: 0px !important;
}

.crt-acc-desc h3
{
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.1px;
	color: #FA4A0C;
}

.crt-acc-desc h4
{
	font-family: 'Montserrat', sans-serif;
	color: #252B42 !important;
	font-size:40px;
	font-weight: 700;
	line-height: 57px;
	letter-spacing: 0.2px;
	padding-top: 17px;
	text-align: left;
}

.crt-acc-desc p
{
	padding-top: 27px;
}



/*** Secttion 3 ****/

.crt-acc-inner.\.row-reverse
 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 150px;

}


/******* Section 4 ***********/

#section-d .crt-acc-inner
{
	padding-bottom: 45px !important;
	column-gap: 200px;
}

/******* None ***********/

/********** Section 5 ********/ 

#section-e .bg-img
{
	background: #252B42 url("Images/hero-bottom.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.row-space
{
	padding: 145px 0px 131px 0px;
}

#section-e .content-desc
{
	text-align: center;
	color: #fff !important;
}

#section-e .content-desc h2
{
	font-size: 40px;
	font-weight: 600;
	line-height: 57px;
	letter-spacing: 0.2px;
}

#section-e .content-desc p
{
	padding-top: 20px;
}

.sec-e-button
{
	margin-top: 60px;
	text-align: center;
	font-size: 16px ;
	line-height: 28px ;
	letter-spacing: 0.2px;
	padding: 18px 31px;
}

.sec-e-button .btn-c, .btn-d
{
	border-radius: 10px;
}

.sec-e-button .btn-c
{
	margin-right: 15px;
}

.sec-e-button .btn-d:hover
{
	background: transparent;
	border-color: #fff;
	color: #fff;
}

/********** Footer ********/ 

.footer-wrapper
{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-row 
{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:25px 0px 25px 0px;
	column-gap: 200px;
	justify-content: space-between;
}

/*.footer-row div
{
	padding:25px 0px 50px 0px;
}*/

.foot-img
{
	text-align: left;
}
.social-icons img
{
	padding: 0px 10px;
	text-align: center;
	
}
 
.footer-title p
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.1px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-align: right;

}




















 @media (min-width: 442px)
 {
 	.button-desc .btn-a
  	{
  		margin-right: 0px;
  		margin-bottom: 17px;
  	}

  	a
  	{

		border-radius: 30px;
		padding: 14px 50px;
		font-size: 18px;
		font-weight: 600px;
		line-height: 30px;
		letter-spacing: 0.1px;
	}
}


@media (min-width: 768px)
{

#section-a img 
{
    padding-bottom: 80px;
}

/*.crt-acc-inner
	{
		display: flex;
	}

	.crt-acc-img ,.crt-acc-desc
	{
		flex: 1;
		width: 40%;

	}

	.crt-acc-inner img
	{
		margin-right: 50px;
	}*/
}

/*.crt-acc-inner
{

	width: 31%;
    display: flex;
    justify-content: space-around;
}

.crt-acc-inner
{
	margin-left: -40px;

}
.crt-acc-inner
{
	width: 40%;
	float: left;
}
*/
