
/***** Global *********/

body
{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	color: #737373;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.2px;
	font-weight: 500;
}

img
{
	display: block;
	width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6
{
	margin:0px;
	padding:0px;
}

p
{
	margin: 0px;
	padding: 0px;

}

h1
{
	padding-top: 17px;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2;
    text-align: center;
}

h2
{
	font-family:'Poppins', sans-serif;
	font-weight: 600px;
	font-size: 44px;
	line-height: 36px;
	letter-spacing: 0.1px;
}
h3
{
	
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.1px;
}
a
{
	text-decoration: none;
}
a
{
	display:inline-block;
	background: #FA4A0C;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	padding: 16px 58.5px;
	font-size: 24px;
	font-weight: 700px;
	line-height: 36px;
	letter-spacing: 0.1px;

}

a:hover
{
	background-color: transparent;
	color: #FA4A0C;
	border: 1px solid #FA4A0C;
}

ul
{
	list-style: none;
    margin: 0;
    padding: 0;
}

li
{
	margin-bottom: 0px;
    background: #fff;
    color: #333;
}

div
{
	display: block;
}



/****** Header *****/

.header-wrapper
{
	 max-width: 1440px;
	 margin: 0px;
	 padding: 10px 0px 10px 90px; 
    
}

.main-header 
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	justify-content: space-between;
}

.nav-menu
{
	padding: 15px 0px 0px 0px;

}

.nav-menu ul
{
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	column-gap: 50px;
}

.nav-menu a
{
	background-color:#fff;
	border: none !important;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	line-height: 28px;
	letter-spacing: 0.2px;

}
.nav-menu a:hover
{
	color: #FA4A0C;

}

.site-logo img
{
	position: relative;
	max-width: 206px;

}




/******* Hero Section *****/

.content-wrap div
{
	max-width: 939px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.bg-img
{
	background: #333 url("Images/hero-img.png");
	background-repeat: no-repeat;
	background-size: cover;

}

.content-desc 
{
	padding: 73px 0px 54px 0px;
	display: block;
}

#hero-section h3
{
	color: #fff;
	text-align: center;
}

#hero-section p
{
	color: #fff;
	text-align: center;
}
.button-desc 
{
	display: block;
	text-align: center;
	max-width: 236px;
	padding-bottom: 146px;
}

.button-desc .btn-a
{
	margin-right: 17px;
}

.button-desc .btn-b
{
	background-color: transparent;
	border: 1px solid #fff;
}

.button-desc .btn-b:hover
{
	border: 1px solid #FA4A0C;
}


 @media (min-width: 442px)
 {
 	.button-desc .btn-a
  	{
  		margin-right: 0px;
  		margin-bottom: 17px;
  	}

  	a
  	{

		border-radius: 30px;
		padding: 14px 50px;
		font-size: 18px;
		font-weight: 600px;
		line-height: 30px;
		letter-spacing: 0.1px;
}
}
